---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_block"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000521245981134575'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}},"ret":{}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:19 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"network_broadcast_api.broadcast_block","params":{"block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000867000332360500'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":57,"method":"_push_block","hostname":"","timestamp":"2018-04-25T15:28:19"},"format":"item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"item->num":1,"head":21879407,"max_size":22}},{"context":{"level":"warn","file":"database.cpp","line":673,"method":"_push_block","hostname":"","timestamp":"2018-04-25T15:28:19"},"format":"","data":{}},{"context":{"level":"warn","file":"database.cpp","line":558,"method":"operator()","hostname":"","timestamp":"2018-04-25T15:28:19"},"format":"","data":{"new_block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:20 GMT
recorded_with: VCR 4.0.0
