---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"network_broadcast_api.broadcast_transaction_synchronous"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000415742165275988'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1},"ret":{"id":"0000000000000000000000000000000000000000","block_num":0,"trx_num":0,"expired":false}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:42 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"network_broadcast_api.broadcast_transaction_synchronous","params":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]},"max_block_age":-1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000087252248912852'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:operations.size()
        > 0: A transaction must have at least one operation","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"transaction.cpp","line":37,"method":"validate","hostname":"","timestamp":"2018-04-26T15:48:42"},"format":"operations.size()
        > 0: A transaction must have at least one operation","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[]}}},{"context":{"level":"warn","file":"database.cpp","line":3032,"method":"_apply_transaction","hostname":"","timestamp":"2018-04-26T15:48:42"},"format":"","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}}},{"context":{"level":"warn","file":"database.cpp","line":705,"method":"push_transaction","hostname":"","timestamp":"2018-04-26T15:48:42"},"format":"","data":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}}}]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:42 GMT
recorded_with: VCR 4.0.0
