---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"condenser_api.broadcast_block","params":[{}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000657215593966421'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Assert Exception:item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":57,"method":"_push_block","hostname":"","timestamp":"2018-04-25T15:28:27"},"format":"item->num
        > std::max<int64_t>( 0, int64_t(_head->num) - (_max_size) ): attempting to
        push a block that is too old","data":{"item->num":1,"head":21879409,"max_size":23}},{"context":{"level":"warn","file":"database.cpp","line":673,"method":"_push_block","hostname":"","timestamp":"2018-04-25T15:28:27"},"format":"","data":{}},{"context":{"level":"warn","file":"database.cpp","line":558,"method":"operator()","hostname":"","timestamp":"2018-04-25T15:28:27"},"format":"","data":{"new_block":{"previous":"0000000000000000000000000000000000000000","timestamp":"1970-01-01T00:00:00","witness":"","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000","transactions":[]}}}]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:27 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"condenser_api.broadcast_transaction","params":[{}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000277552983923358'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32603,"message":"Internal Error","data":{"error_id":"47ddae8b-1c78-4961-bff2-9df0ea921565","request":{"amzn_trace_id":"Root=1-5ae09e9b-df3fa6e0879cbf92c25ddb00","jussi_request_id":null}}}}'
  recorded_at: Wed, 25 Apr 2018 15:28:27 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":5,"method":"condenser_api.get_account_count","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001032447505242622'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":963800,"id":5}'
  recorded_at: Wed, 25 Apr 2018 15:28:28 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":7,"method":"condenser_api.get_account_reputations","params":[[null,null]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001110891295733220'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Bad Cast:Invalid
        cast from array_type to string","data":{"code":7,"name":"bad_cast_exception","message":"Bad
        Cast","stack":[{"context":{"level":"error","file":"variant.cpp","line":478,"method":"as_string","hostname":"","timestamp":"2018-04-25T15:28:29"},"format":"Invalid
        cast from ${type} to string","data":{"type":"array_type"}}]}},"id":7}'
  recorded_at: Wed, 25 Apr 2018 15:28:29 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":17,"method":"condenser_api.get_chain_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000960484737275497'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account_creation_fee":"0.100 STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"id":17}'
  recorded_at: Wed, 25 Apr 2018 15:28:36 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":19,"method":"condenser_api.get_config","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000561606807907380'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"IS_TEST_NET":false,"STEEM_ENABLE_SMT":false,"SBD_SYMBOL":null,"STEEM_INITIAL_VOTE_POWER_RATE":40,"STEEM_REDUCED_VOTE_POWER_RATE":10,"STEEM_100_PERCENT":10000,"STEEM_1_PERCENT":100,"STEEM_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","STEEM_ACTIVE_CHALLENGE_COOLDOWN":"86400000000","STEEM_ACTIVE_CHALLENGE_FEE":["2000",3,"@@000000021"],"STEEM_ADDRESS_PREFIX":"STM","STEEM_APR_PERCENT_MULTIPLY_PER_BLOCK":"102035135585887","STEEM_APR_PERCENT_MULTIPLY_PER_HOUR":"119577151364285","STEEM_APR_PERCENT_MULTIPLY_PER_ROUND":"133921203762304","STEEM_APR_PERCENT_SHIFT_PER_BLOCK":87,"STEEM_APR_PERCENT_SHIFT_PER_HOUR":77,"STEEM_APR_PERCENT_SHIFT_PER_ROUND":83,"STEEM_BANDWIDTH_AVERAGE_WINDOW_SECONDS":604800,"STEEM_BANDWIDTH_PRECISION":1000000,"STEEM_BLOCKCHAIN_PRECISION":1000,"STEEM_BLOCKCHAIN_PRECISION_DIGITS":3,"STEEM_BLOCKCHAIN_HARDFORK_VERSION":"0.19.0","STEEM_BLOCKCHAIN_VERSION":"0.19.4","STEEM_BLOCK_INTERVAL":3,"STEEM_BLOCKS_PER_DAY":28800,"STEEM_BLOCKS_PER_HOUR":1200,"STEEM_BLOCKS_PER_YEAR":10512000,"STEEM_CASHOUT_WINDOW_SECONDS":604800,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"STEEM_CHAIN_ID":"0000000000000000000000000000000000000000000000000000000000000000","STEEM_CHAIN_ID_NAME":"","STEEM_COMMENT_REWARD_FUND_NAME":"comment","STEEM_CONTENT_APR_PERCENT":3875,"STEEM_CONTENT_CONSTANT_HF0":"2000000000000","STEEM_CONTENT_REWARD_PERCENT":7500,"STEEM_CONVERSION_DELAY":"302400000000","STEEM_CONVERSION_DELAY_PRE_HF_16":"604800000000","STEEM_CREATE_ACCOUNT_DELEGATION_RATIO":5,"STEEM_CREATE_ACCOUNT_DELEGATION_TIME":"2592000000000","STEEM_CREATE_ACCOUNT_WITH_STEEM_MODIFIER":30,"STEEM_CURATE_APR_PERCENT":3875,"STEEM_DEFAULT_SBD_INTEREST_RATE":1000,"STEEM_EQUIHASH_K":6,"STEEM_EQUIHASH_N":140,"STEEM_FEED_HISTORY_WINDOW":84,"STEEM_FEED_HISTORY_WINDOW_PRE_HF_16":168,"STEEM_FEED_INTERVAL_BLOCKS":1200,"STEEM_GENESIS_TIME":"2016-03-24T16:00:00","STEEM_HARDFORK_REQUIRED_WITNESSES":17,"STEEM_INFLATION_NARROWING_PERIOD":250000,"STEEM_INFLATION_RATE_START_PERCENT":978,"STEEM_INFLATION_RATE_STOP_PERCENT":95,"STEEM_INIT_MINER_NAME":"initminer","STEEM_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","STEEM_INIT_SUPPLY":0,"STEEM_INIT_TIME":"1970-01-01T00:00:00","STEEM_IRREVERSIBLE_THRESHOLD":7500,"STEEM_LIQUIDITY_APR_PERCENT":750,"STEEM_LIQUIDITY_REWARD_BLOCKS":1200,"STEEM_LIQUIDITY_REWARD_PERIOD_SEC":3600,"STEEM_LIQUIDITY_TIMEOUT_SEC":"604800000000","STEEM_MAX_ACCOUNT_NAME_LENGTH":16,"STEEM_MAX_ACCOUNT_WITNESS_VOTES":30,"STEEM_MAX_ASSET_WHITELIST_AUTHORITIES":10,"STEEM_MAX_AUTHORITY_MEMBERSHIP":10,"STEEM_MAX_BLOCK_SIZE":393216000,"STEEM_SOFT_MAX_BLOCK_SIZE":2097152,"STEEM_MAX_CASHOUT_WINDOW_SECONDS":1209600,"STEEM_MAX_COMMENT_DEPTH":65535,"STEEM_MAX_COMMENT_DEPTH_PRE_HF17":6,"STEEM_MAX_FEED_AGE_SECONDS":604800,"STEEM_MAX_INSTANCE_ID":"281474976710655","STEEM_MAX_MEMO_SIZE":2048,"STEEM_MAX_WITNESSES":21,"STEEM_MAX_MINER_WITNESSES_HF0":1,"STEEM_MAX_MINER_WITNESSES_HF17":0,"STEEM_MAX_PERMLINK_LENGTH":256,"STEEM_MAX_PROXY_RECURSION_DEPTH":4,"STEEM_MAX_RATION_DECAY_RATE":1000000,"STEEM_MAX_RESERVE_RATIO":20000,"STEEM_MAX_RUNNER_WITNESSES_HF0":1,"STEEM_MAX_RUNNER_WITNESSES_HF17":1,"STEEM_MAX_SATOSHIS":"4611686018427387903","STEEM_MAX_SHARE_SUPPLY":"1000000000000000","STEEM_MAX_SIG_CHECK_DEPTH":2,"STEEM_MAX_TIME_UNTIL_EXPIRATION":3600,"STEEM_MAX_TRANSACTION_SIZE":65536,"STEEM_MAX_UNDO_HISTORY":10000,"STEEM_MAX_URL_LENGTH":127,"STEEM_MAX_VOTE_CHANGES":5,"STEEM_MAX_VOTED_WITNESSES_HF0":19,"STEEM_MAX_VOTED_WITNESSES_HF17":20,"STEEM_MAX_WITHDRAW_ROUTES":10,"STEEM_MAX_WITNESS_URL_LENGTH":2048,"STEEM_MIN_ACCOUNT_CREATION_FEE":1,"STEEM_MIN_ACCOUNT_NAME_LENGTH":3,"STEEM_MIN_BLOCK_SIZE_LIMIT":65536,"STEEM_MIN_BLOCK_SIZE":115,"STEEM_MIN_CONTENT_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_CURATE_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_PERMLINK_LENGTH":0,"STEEM_MIN_REPLY_INTERVAL":20000000,"STEEM_MIN_ROOT_COMMENT_INTERVAL":300000000,"STEEM_MIN_VOTE_INTERVAL_SEC":3,"STEEM_MINER_ACCOUNT":"miners","STEEM_MINER_PAY_PERCENT":100,"STEEM_MIN_FEEDS":7,"STEEM_MINING_REWARD":["1000",3,"@@000000021"],"STEEM_MINING_TIME":"2016-03-24T17:00:00","STEEM_MIN_LIQUIDITY_REWARD":["1200000",3,"@@000000021"],"STEEM_MIN_LIQUIDITY_REWARD_PERIOD_SEC":60000000,"STEEM_MIN_PAYOUT_SBD":["20",3,"@@000000013"],"STEEM_MIN_POW_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_PRODUCER_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_TRANSACTION_EXPIRATION_LIMIT":15,"STEEM_MIN_TRANSACTION_SIZE_LIMIT":1024,"STEEM_MIN_UNDO_HISTORY":10,"STEEM_NULL_ACCOUNT":"null","STEEM_NUM_INIT_MINERS":1,"STEEM_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"STEEM_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","STEEM_OWNER_CHALLENGE_COOLDOWN":"86400000000","STEEM_OWNER_CHALLENGE_FEE":["30000",3,"@@000000021"],"STEEM_OWNER_UPDATE_LIMIT":3600000000,"STEEM_POST_AVERAGE_WINDOW":86400,"STEEM_POST_REWARD_FUND_NAME":"post","STEEM_POST_WEIGHT_CONSTANT":1600000000,"STEEM_POW_APR_PERCENT":750,"STEEM_PRODUCER_APR_PERCENT":750,"STEEM_PROXY_TO_SELF_ACCOUNT":"","STEEM_SBD_INTEREST_COMPOUND_INTERVAL_SEC":2592000,"STEEM_SECONDS_PER_YEAR":31536000,"STEEM_RECENT_RSHARES_DECAY_TIME_HF19":"1296000000000","STEEM_RECENT_RSHARES_DECAY_TIME_HF17":"2592000000000","STEEM_REVERSE_AUCTION_WINDOW_SECONDS":1800,"STEEM_ROOT_POST_PARENT":"","STEEM_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"STEEM_SAVINGS_WITHDRAW_TIME":"259200000000","STEEM_SBD_START_PERCENT":200,"STEEM_SBD_STOP_PERCENT":500,"STEEM_SECOND_CASHOUT_WINDOW":2592000,"STEEM_SOFT_MAX_COMMENT_DEPTH":255,"STEEM_START_MINER_VOTING_BLOCK":864000,"STEEM_START_VESTING_BLOCK":201600,"STEEM_TEMP_ACCOUNT":"temp","STEEM_UPVOTE_LOCKOUT_HF7":60000000,"STEEM_UPVOTE_LOCKOUT_HF17":"43200000000","STEEM_VESTING_FUND_PERCENT":1500,"STEEM_VESTING_WITHDRAW_INTERVALS":13,"STEEM_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"STEEM_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"STEEM_VOTE_DUST_THRESHOLD":50000000,"STEEM_VOTE_REGENERATION_SECONDS":432000,"STEEM_SYMBOL":null,"VESTS_SYMBOL":null,"STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH":"18446744073709551615","STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH2":"340282366920938463463374607431768211455"},"id":19}'
  recorded_at: Wed, 25 Apr 2018 15:28:37 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":23,"method":"condenser_api.get_current_median_history_price","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000342859100526637'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"base":"3.228 SBD","quote":"1.000 STEEM"},"id":23}'
  recorded_at: Wed, 25 Apr 2018 15:28:38 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":36,"method":"condenser_api.get_dynamic_global_properties","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000617879208647701'
    body:
      encoding: ASCII-8BIT
      string: '{"id":36,"jsonrpc":"2.0","result":{"head_block_number":21879422,"head_block_id":"014dda7edef5380454b58f75c4776e67567bd5f7","time":"2018-04-25T15:29:03","current_witness":"clayop","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"271240815.108
        STEEM","current_supply":"267449080.812 STEEM","confidential_supply":"0.000
        STEEM","current_sbd_supply":"12239718.308 SBD","confidential_sbd_supply":"0.000
        SBD","total_vesting_fund_steem":"190460343.043 STEEM","total_vesting_shares":"387982668835.873994
        VESTS","total_reward_fund_steem":"0.000 STEEM","total_reward_shares2":"0","pending_rewarded_vesting_shares":"384930404.472660
        VESTS","pending_rewarded_vesting_steem":"187615.043 STEEM","sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":21944981,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21879402,"vote_power_reserve_rate":10,"average_block_size":14816,"current_reserve_ratio":200000000,"max_virtual_bandwidth":"264241152000000000000"}}'
  recorded_at: Wed, 25 Apr 2018 15:29:05 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":41,"method":"condenser_api.get_feed_history","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000998221420751603'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"3.228
        SBD","quote":"1.000 STEEM"},"price_history":[{"base":"2.990 SBD","quote":"1.000
        STEEM"},{"base":"2.955 SBD","quote":"1.000 STEEM"},{"base":"2.953 SBD","quote":"1.000
        STEEM"},{"base":"2.901 SBD","quote":"1.000 STEEM"},{"base":"2.973 SBD","quote":"1.000
        STEEM"},{"base":"2.973 SBD","quote":"1.000 STEEM"},{"base":"3.020 SBD","quote":"1.000
        STEEM"},{"base":"3.014 SBD","quote":"1.000 STEEM"},{"base":"3.030 SBD","quote":"1.000
        STEEM"},{"base":"3.030 SBD","quote":"1.000 STEEM"},{"base":"3.002 SBD","quote":"[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":49,"method":"condenser_api.get_next_scheduled_hardfork","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000836049825355190'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"hf_version":"0.19.0","live_time":"2017-06-20T15:00:00"},"id":49}'
  recorded_at: Wed, 25 Apr 2018 15:29:12 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":52,"method":"condenser_api.get_order_book","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001023058450647176'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"bids":[{"order_price":{"base":"4.800 SBD","quote":"4.345
        STEEM"},"real_price":"1.10471806674338313","steem":4345,"sbd":4800,"created":"2018-04-25T15:29:12"},{"order_price":{"base":"53.901
        SBD","quote":"49.000 STEEM"},"real_price":"1.10002040816326541","steem":49000,"sbd":53901,"created":"2018-04-25T14:45:00"},{"order_price":{"base":"0.022
        SBD","quote":"0.020 STEEM"},"real_price":"1.10000000000000009","steem":20,"sbd":22,"created":"2018-04-25T14:54:57"},{"order_price":{"base":"0.100
        SBD","quote":"0.091 STEEM"},"real_price":"1.09890109890109899","steem":91,"sbd":100,"created":"2018-04-25T14:13:51"},{"orde[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":57,"method":"condenser_api.get_recent_trades","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000902669846410816'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"date":"2018-04-25T15:28:27","current_pays":"13.476
        STEEM","open_pays":"14.890 SBD"},{"date":"2018-04-25T15:27:27","current_pays":"0.181
        STEEM","open_pays":"0.200 SBD"},{"date":"2018-04-25T15:27:27","current_pays":"18.580
        STEEM","open_pays":"20.531 SBD"},{"date":"2018-04-25T15:27:21","current_pays":"5.514
        STEEM","open_pays":"6.118 SBD"},{"date":"2018-04-25T15:25:00","current_pays":"23.235
        SBD","open_pays":"20.936 STEEM"},{"date":"2018-04-25T15:25:00","current_pays":"4.428
        SBD","open_pays":"3.991 STEEM"},{"date":"2018-04-25T15[...]
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":66,"method":"condenser_api.get_ticker","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000592955362592955'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.06899999999999995","lowest_ask":"1.10491999999999990","highest_bid":"1.10471806674338313","percent_change":"0.00000000000000000","steem_volume":"12342.691
        STEEM","sbd_volume":"13500.705 SBD"},"id":66}'
  recorded_at: Wed, 25 Apr 2018 15:29:22 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":70,"method":"condenser_api.get_version","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000664514012615542'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blockchain_version":"0.19.4","steem_revision":"4b19e00dd6a76699aa4de1c0d50aad392cd2d0b6","fc_revision":"4b19e00dd6a76699aa4de1c0d50aad392cd2d0b6"},"id":70}'
  recorded_at: Wed, 25 Apr 2018 15:29:23 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":76,"method":"condenser_api.get_witness_schedule","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000369354822219100'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_virtual_time":"320587002322261677024951135","next_shuffle_block_num":21879438,"current_shuffled_witnesses":["someguy123","netuoso","clayop","pfunk","aizensou","timcliff","jesta","ausbitbank","xeldal","followbtcnews","anyx","pharesim","good-karma","roelandp","jerrybanfield","gtg","thecryptodrive","smooth.witness","blocktrades","lukestokes.mhth","aggroed"],"num_scheduled_witnesses":21,"top19_weight":1,"timeshare_weight":5,"miner_weight":1,"witness_pay_normalization_factor":25,"median_props":{"account_creation_fee":"0.100
        STEEM","maximum_block_size":65536,"sbd_interest_rate":0},"majority_version":"0.19.2","max_voted_witnesses":20,"max_miner_witnesses":0,"max_runner_witnesses":1,"hardfork_required_witnesses":17},"id":76}'
  recorded_at: Wed, 25 Apr 2018 15:29:24 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":77,"method":"condenser_api.get_witnesses","params":[[null]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000401092578918339'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":[{"id":0,"owner":"initminer","created":"1970-01-01T00:00:00","url":"","votes":0,"virtual_last_update":"225400650183277777230188182","virtual_position":"28933178228158941342755574680549120","virtual_scheduled_time":"340253433742935705172215129634317850517","total_missed":88,"last_aslot":1202,"last_confirmed_block_num":1092,"pow_worker":0,"signing_key":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","props":{"account_creation_fee":"0.001
        STEEM","maximum_block_size":131072,"sbd_interest_rate":1000},"sbd_exchange_rate":{"base":"0.000
        STEEM","quote":"0.000 STEEM"},"last_sbd_exchange_update":"1970-01-01T00:00:00","last_work":"0000000000000000000000000000000000000000000000000000000000000000","running_version":"0.0.0","hardfork_version_vote":"0.0.0","hardfork_time_vote":"2016-03-24T16:00:00"}],"id":77}'
  recorded_at: Wed, 25 Apr 2018 15:29:25 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":83,"method":"condenser_api.verify_authority","params":[[null]]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000827339253312980'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"Bad Cast:Invalid
        cast from type ''array_type'' to Object","data":{"code":7,"name":"bad_cast_exception","message":"Bad
        Cast","stack":[{"context":{"level":"error","file":"variant.cpp","line":575,"method":"get_object","hostname":"","timestamp":"2018-04-25T15:29:27"},"format":"Invalid
        cast from type ''${type}'' to Object","data":{"type":"array_type"}}]}},"id":83}'
  recorded_at: Wed, 25 Apr 2018 15:29:27 GMT
recorded_with: VCR 4.0.0
