---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_withdraw_vesting_routes"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000577184752814014'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":"","order":"by_name"},"ret":{"routes":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:15 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_withdraw_vesting_routes","params":{"account":"steemit","order":"by_withdraw_route"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000677838574121370'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"routes":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:16 GMT
recorded_with: VCR 4.0.0
