---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_votes"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000235098721401895'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"author":"","permlink":""},"ret":{"votes":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:49 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_votes","params":{"author":"steemit","permlink":"firstpost"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000976029247968605'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"votes":[{"id":9,"voter":"dantheman","author":"steemit","permlink":"firstpost","weight":"32866333630","rshares":375241,"vote_percent":100,"last_update":"2016-04-07T19:15:36","num_changes":-1},{"id":4,"voter":"mr11acdee","author":"steemit","permlink":"firstpost","weight":"876019385955","rshares":886132,"vote_percent":10000,"last_update":"2016-04-06T19:29:03","num_changes":-1},{"id":0,"voter":"steemit78","author":"steemit","permlink":"firstpost","weight":"5100000000","rshares":5100,"vote_percent":10000,"last_update":"2016-03-30T20:13:00","num_changes":-1},{"id":88,"voter":"anonymous","author":"steemit","permlink":"firstpost","weight":"312616340416","rshares":1259167,"vote_percent":[...]
