---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_escrows"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000669197164047850'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"from":""},"ret":{"escrows":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:45 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_escrows","params":{"from":"steemit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000741404943913809'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"escrows":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:46 GMT
recorded_with: VCR 4.0.0
