---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_withdraw_vesting_routes"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001003735164828973'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":"","order":"by_name"},"ret":{"routes":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:00 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_withdraw_vesting_routes","params":{"account":"steemit","order":"by_withdraw_route"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000018685692000175'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"routes":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:00 GMT
recorded_with: VCR 4.0.0
