---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_savings_withdrawals"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000027617934646294'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":""},"ret":{"withdrawals":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:50 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_savings_withdrawals","params":{"account":"steemit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000865013002998719'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"withdrawals":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:50 GMT
recorded_with: VCR 4.0.0
