---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_change_recovery_account_requests"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000460639837437874'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"accounts":[]},"ret":{"requests":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:27 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_change_recovery_account_requests","params":{"accounts":["steemit"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000576522713631531'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"requests":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:28 GMT
recorded_with: VCR 4.0.0
