---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_witnesses"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000998665732666471'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"owners":[]},"ret":{"witnesses":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:02 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_witnesses","params":{"owners":["steemit"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000461542970415885'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"witnesses":[{"id":25,"owner":"steemit","created":"1970-01-01T00:00:00","url":"","votes":"1733925753624","virtual_last_update":"320580553052276478703876063","virtual_position":"88855591910869773655040684421635941328","virtual_scheduled_time":"465584901989610113036545439","total_missed":39,"last_aslot":293466,"last_confirmed_block_num":290866,"pow_worker":0,"signing_key":"STM1111111111111111111111111111111114T1Anm","props":{"account_creation_fee":["100000",3,"@@000000021"],"maximum_block_size":131072,"sbd_interest_rate":1000,"account_subsidy_limit":0},"sbd_exchange_rate":{"base":["0",3,"@@000000021"],"quote":["0",3,"@@000000021"]},"last_sbd_exchange_update":"1970-01-01T00:00:00","last_work":"0000000ff3c27739abbca6487c94c59690b07f065f51b15ab2ff986478eb963e","running_version":"0.0.0","hardfork_version_vote":"0.0.0","hardfork_time_vote":"2016-03-24T16:00:00"}]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:03 GMT
recorded_with: VCR 4.0.0
