---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_vesting_delegation_expirations"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000561081348770994'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":""},"ret":{"delegations":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:28 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_vesting_delegation_expirations","params":{"account":"steemit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000043831541485910'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"delegations":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:29 GMT
recorded_with: VCR 4.0.0
