---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_escrows"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000836072358714830'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"from":""},"ret":{"escrows":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:58 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_escrows","params":{"from":"steemit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001053146919663210'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"escrows":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:58 GMT
recorded_with: VCR 4.0.0
