---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.find_comments"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000121499098551530'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"comments":[]},"ret":{"comments":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:46 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.find_comments","params":{"comments":[["steemit","firstpost"]]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001102483249161955'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"comments":[{"id":0,"author":"steemit","permlink":"firstpost","category":"meta","parent_author":"","parent_permlink":"meta","title":"Welcome
        to Steem!","body":"Steemit is a social media platform where anyone can earn
        STEEM points by posting. The more people who like a post, the more STEEM the
        poster earns. Anyone can sell their STEEM for cash or vest it to boost their
        voting power.","json_metadata":"","last_update":"2016-03-30T18:30:18","created":"2016-03-30T18:30:18","active":"2018-04-20T08:36:12","last_payout":"2016-08-24T19:59:42","depth":0,"children":347,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":"26182562839028","cashout_time":"1969-12-31T23:59:59","max_cashout_time":"1969-12-31T23:59:59","total_vote_weight":0,"reward_weight":10000,"total_payout_value":["942",3,"@@000000013"],"curator_payout_value":["756",3,"@@000000013"],"author_rewards":3548,"net_votes":90,"root_author":"steemit","root_permlink":"firstpost","max_accepted_payout":["1000000000",3,"@@000000013"],"percent_steem_dollars":10000,"allow_replies":true,"allow_votes":true,"allow_curation_rewards":true,"beneficiaries":[]}]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:47 GMT
recorded_with: VCR 4.0.0
