---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_following"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000924514041487401'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":"","start":"","type":"undefined","limit":1000},"ret":{"following":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:20 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_following","params":{"account":"steemit","start":null,"type":"blog","limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000777470942055827'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"following":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:20 GMT
recorded_with: VCR 4.0.0
