---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"tags_api.get_tags_used_by_author"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000819153721949379'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"author":""},"ret":{"tags":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:28 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"tags_api.get_tags_used_by_author","params":{"author":"ste
        emit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000532905782746929'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:acnt
        != nullptr: Author not found","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"tags_api.cpp","line":99,"method":"get_tags_used_by_author","hostname":"","timestamp":"2018-04-26T15:48:34"},"format":"acnt
        != nullptr: Author not found","data":{}}]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:34 GMT
recorded_with: VCR 4.0.0
