---
http_interactions:
- request:
    method: post
    uri: https://test.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_methods","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.test.com/
      X-Dis-Request-Id:
      - '039641f0005a41a126215c9d4bbf9a7e'
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.13.4</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 26 Apr 2018 15:48:39 GMT
recorded_with: VCR 4.0.0
