---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"tags_api.get_trending_tags"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000851752824660727'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start_tag":"","limit":100},"ret":{"tags":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:55 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"tags_api.get_trending_tags","params":{"start_tag":"","limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000451808279156097'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"tags":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:56 GMT
recorded_with: VCR 4.0.0
