---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"tags_api.get_discussions_by_author_before_date"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000418225705975169'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"author":"","start_permlink":"","before_date":"1970-01-01T00:00:00","limit":100},"ret":{"discussions":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:31 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"tags_api.get_discussions_by_author_before_date","params":{"author":"steemit","permlink":"firstpost"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000124567910663792'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"discussions":[{"id":0,"author":"steemit","permlink":"firstpost","category":"meta","parent_author":"","parent_permlink":"meta","title":"Welcome
        to Steem!","body":"Steemit is a social media platform where anyone can earn
        STEEM points by posting. The more people who like a post, the more STEEM the
        poster earns. Anyone can sell their STEEM for cash or vest it to boost their
        voting power.","json_metadata":"","last_update":"2016-03-30T18:30:18","created":"2016-03-30T18:30:18","active":"2018-04-26T06:39:24","last_payout":"2016-08-24T19:59:42","depth":0,"children":348,"net_rshares":0,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":"26182562839028","cashout_time":"1969-12-31T23:59:59","max_cashout_time":"1969-12-31T23:59:59","total_vote_weight":0,"reward_weight":10000,"total_payout_value":["942",3,"@@000000013"],"curator_payout_value":["756",3,"@@000000013"],"author_rewards":3548,"net_votes":90,"root_author":"steemit","root_permlink":"firstpost","max_accepted_payout":["1000000000",3,"@@000000013"],"percent_steem_dollars":10000,"allow_replies":true,"allow_votes":true,"allow_curation_rewards":true,"beneficiaries":[],"url":"\/meta\/@steemit\/firstpost","root_title":"Welcome
        to Steem!","pending_payout_value":["0",3,"@@000000013"],"total_pending_payout_value":["0",3,"@@000000021"],"active_votes":[{"voter":"dantheman","weight":"32866333630","rshares":375241,"percent":100,"reputation":"240292002602347","time":"2016-04-07T19:15:36"},{"voter":"mr11acdee","weight":"876019385955","rshares":886132,"percent":10000,"reputation":"190869539046","time":"2016-04-06T19:29:03"},{"voter":"steemit78","weight":"5100000000","rshares":5100,"percent":10000,"reputation":0,"time":"2016-03-30T20:13:00"},{"voter":"anonymous","weight":"312616340416","rshares":1259167,"percent":10000,"reputation":"85602977273","time":"2016-04-09T17:34:36"},{"voter":"hello","weight":3369765102,"rshares":318519,"percent":10000,"reputation":159[...]
