---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"tags_api.get_replies_by_last_update"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001053941415570662'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start_parent_author":"","start_permlink":"","limit":100},"ret":{"discussions":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:30:16 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"tags_api.get_replies_by_last_update","params":{"start_parent_author":"steemit","start_permlink":"firstpost","limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001003251944803628'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"discussions":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:30:16 GMT
recorded_with: VCR 4.0.0
