---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"witness_api.get_reserve_ratio"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000788743279223287'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"id":0,"average_block_size":0,"current_reserve_ratio":1,"max_virtual_bandwidth":"0"}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:37 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"witness_api.get_reserve_ratio","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001068494144656224'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"average_block_size":16357,"current_reserve_ratio":4643167,"max_virtual_bandwidth":"6134578985041920000"},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:37 GMT
recorded_with: VCR 4.0.0
