---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_follow_count"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000252159825306041'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":""},"ret":{"account":"","follower_count":0,"following_count":0}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:50 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_follow_count","params":{"account":"steemit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000230878118623704'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account":"steemit","follower_count":2844,"following_count":0},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:51 GMT
recorded_with: VCR 4.0.0
