---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '[{"jsonrpc":"2.0","id":1,"method":"block_api.get_block","params":{"block_num":9001}},{"jsonrpc":"2.0","id":2,"method":"block_api.get_block","params":{"block_num":9002}},{"jsonrpc":"2.0","id":3,"method":"block_api.get_block","params":{"block_num":9003}},{"jsonrpc":"2.0","id":4,"method":"block_api.get_block","params":{"block_num":9004}},{"jsonrpc":"2.0","id":5,"method":"block_api.get_block","params":{"block_num":9005}},{"jsonrpc":"2.0","id":6,"method":"block_api.get_block","params":{"block_num":9006}},{"jsonrpc":"2.0","id":7,"method":"block_api.get_block","params":{"block_num":9007}},{"jsonrpc":"2.0","id":8,"method":"block_api.get_block","params":{"block_num":9008}},{"jsonrpc":"2.0","id":9,"method":"block_api.get_block","params":{"block_num":9009}},{"jsonrpc":"2.0","id":10,"method":"block_api.get_block","params":{"block_num":9010}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000463882955350757'
    body:
      encoding: ASCII-8BIT
      string: '[{"jsonrpc":"2.0","result":{"block":{"previous":"00002328daee22690296f47b6fd78cf1fe6271e4","timestamp":"2016-03-24T23:43:45","witness":"steemit1","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"2046d92d5386b9b9727be83e261a2d9c0740ee312cf3c857279c49793f33a1545c4383051dabd7f4f327c7d1eea70f11ca105f486a9c2085c249a0fd5cc87366b2","transactions":[],"block_id":"00002329c5aa1ee70f35b1768327fd429d56cf3b","signing_key":"STM65wH1LZ7BfSHcK69SShnqCAH5xdoSZpGkUjmzHJ5GCuxEK9V5G","transaction_ids":[]}},"id":1},{"jsonrpc":"2.0","result":{"block":{"previous":"00002329c5aa1ee70f35b1768327fd429d56cf3b","timestamp":"2016-03-24T23:43:48","witness":"dark","transaction_merkle_root":"0000000000000000000000000000000000000000","extensions":[],"witness_signature":"1f7725e9c9f050c882a486832798f55702b3ea88814872344795db11631e9f03660155405b7680c72431e6926328a9ba3038f491932de84ced5d1ffdf7078695d8","transactions":[],"block_id":"0000232abc67c8c55cdfdfc4f5162982375446cd","signing_key":"STM5QPFyb4ANmtoaubh4i[...]
