---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_order_book"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001046674761381680'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"limit":0},"ret":{"asks":[],"bids":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:06 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"market_history_api.get_order_book","params":{"limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000573245054043701'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"bids":[],"asks":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:30:23 GMT
recorded_with: VCR 4.0.0
