---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"tags_api.get_tags_used_by_author"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000385540839818667'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"author":""},"ret":{"tags":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:56 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"tags_api.get_tags_used_by_author","params":{"author":"ste
        emit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000015725259015083'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:acnt
        != nullptr: Author not found","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"tags_api.cpp","line":99,"method":"get_tags_used_by_author","hostname":"","timestamp":"2018-04-25T15:29:57"},"format":"acnt
        != nullptr: Author not found","data":{}}]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:57 GMT
recorded_with: VCR 4.0.0
