---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"condenser_api.get_account_count","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000037745953079395'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":963800,"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:25 GMT
recorded_with: VCR 4.0.0
