---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_account_reputations"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000221925154101921'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account_lower_bound":"","limit":1000},"ret":{"reputations":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:21 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_account_reputations","params":{"account_lower_bound":"steemit","limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000784075114191708'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"reputations":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:22 GMT
recorded_with: VCR 4.0.0
