---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_current_price_feed"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000056773477706328'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"base":["0",3,"@@000000021"],"quote":["0",3,"@@000000021"]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:50 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_current_price_feed","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000407801817760396'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"base":["3315",3,"@@000000013"],"quote":["1000",3,"@@000000021"]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:51 GMT
recorded_with: VCR 4.0.0
