---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_active_witnesses"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000993526395657678'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"witnesses":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:02 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_active_witnesses","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000262035497310449'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"witnesses":["jesta","curie","roelandp","blocktrades","jerrybanfield","timcliff","good-karma","netuoso","smooth.witness","followbtcnews","pfunk","xeldal","aggroed","thecryptodrive","someguy123","ausbitbank","anyx","gtg","pharesim","clayop","lukestokes.mhth"]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:03 GMT
recorded_with: VCR 4.0.0
