---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_ticker"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001015519212478861'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"latest":"0.00000000000000000","lowest_ask":"0.00000000000000000","highest_bid":"0.00000000000000000","percent_change":"0.00000000000000000","steem_volume":["0",3,"@@000000021"],"sbd_volume":["0",3,"@@000000013"]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:57 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"market_history_api.get_ticker","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000465256942848311'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"latest":"1.11824324324324320","lowest_ask":"1.14640431014289068","highest_bid":"1.14005441787197470","percent_change":"0.00000000000000000","steem_volume":["6644875",3,"@@000000021"],"sbd_volume":["7494557",3,"@@000000013"]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:58 GMT
recorded_with: VCR 4.0.0
