---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_hardfork_properties"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000758826700923749'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"id":0,"processed_hardforks":[],"last_hardfork":0,"current_hardfork_version":"0.0.0","next_hardfork":"0.0.0","next_hardfork_time":"1970-01-01T00:00:00"}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:34 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_hardfork_properties","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000239565802969077'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"processed_hardforks":["2016-03-24T16:00:00","2016-04-25T17:30:00","2016-04-26T18:00:00","2016-04-27T13:00:00","2016-04-30T15:00:00","2016-05-31T17:00:00","2016-06-30T14:00:00","2016-07-04T00:00:00","2016-07-04T01:00:00","2016-07-14T00:00:00","2016-07-15T12:00:00","2016-07-17T15:00:00","2016-07-26T15:00:00","2016-08-15T14:00:00","2016-09-20T15:00:00","2016-11-08T16:00:00","2016-12-06T16:00:00","2017-03-30T15:00:00","2017-03-30T15:00:00","2017-06-20T15:00:00"],"last_hardfork":19,"current_hardfork_version":"0.19.0","next_hardfork":"0.19.0","next_hardfork_time":"2017-06-20T15:00:00"},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:34 GMT
recorded_with: VCR 4.0.0
