---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_witness_schedule"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000070468029672248'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"id":0,"current_virtual_time":"0","next_shuffle_block_num":0,"current_shuffled_witnesses":[],"num_scheduled_witnesses":176,"top19_weight":39,"timeshare_weight":184,"miner_weight":2,"witness_pay_normalization_factor":0,"median_props":{"account_creation_fee":["1",3,"@@000000021"],"maximum_block_size":131072,"sbd_interest_rate":1000,"account_subsidy_limit":0},"majority_version":"0.0.0","max_voted_witnesses":176,"max_miner_witnesses":39,"max_runner_witnesses":184,"hardfork_required_witnesses":2}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:31 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_witness_schedule","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000152392884798554'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"id":0,"current_virtual_time":"320973187430684120158027255","next_shuffle_block_num":21908628,"current_shuffled_witnesses":["jesta","curie","roelandp","blocktrades","jerrybanfield","timcliff","good-karma","netuoso","smooth.witness","followbtcnews","pfunk","xeldal","aggroed","thecryptodrive","someguy123","ausbitbank","anyx","gtg","pharesim","clayop","lukestokes.mhth"],"num_scheduled_witnesses":21,"top19_weight":1,"timeshare_weight":5,"miner_weight":1,"witness_pay_normalization_factor":25,"median_props":{"account_creation_fee":["100",3,"@@000000021"],"maximum_block_size":65536,"sbd_interest_rate":0,"account_subsidy_limit":0},"majority_version":"0.19.2","max_voted_witnesses":20,"max_miner_witnesses":0,"max_runner_witnesses":1,"hardfork_required_witnesses":17},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:31 GMT
recorded_with: VCR 4.0.0
