---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_active_witnesses"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000548628193108259'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"witnesses":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:47 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_active_witnesses","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000149764936027995'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"witnesses":["someguy123","netuoso","clayop","pfunk","aizensou","timcliff","jesta","ausbitbank","xeldal","followbtcnews","anyx","pharesim","good-karma","roelandp","jerrybanfield","gtg","thecryptodrive","smooth.witness","blocktrades","lukestokes.mhth","aggroed"]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:48 GMT
recorded_with: VCR 4.0.0
