---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_blog_entries"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000061898720581210'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":"","start_entry_id":0,"limit":500},"ret":{"blog":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:46 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_blog_entries","params":{"account":"steemit","start_entry_id":0,"limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000279266892002723'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blog":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:47 GMT
recorded_with: VCR 4.0.0
