---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"witness_api.get_account_bandwidth"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000198486978006448'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":"","type":"post"},"ret":{}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:35 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"witness_api.get_account_bandwidth","params":{"account":"steemit","type":"forum"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000698784535643958'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"bandwidth":{"id":8,"account":"steemit","type":"forum","average_bandwidth":532858532,"lifetime_bandwidth":"50279000000","last_bandwidth_update":"2018-04-22T20:31:24"}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:37 GMT
recorded_with: VCR 4.0.0
