---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"tags_api.get_content_replies"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000321883909427363'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"author":"","permlink":""},"ret":{"discussions":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:26 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"tags_api.get_content_replies","params":{"author":"steemit","permlink":"firstpost"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000266609990519357'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"discussions":[{"id":1,"author":"admin","permlink":"firstpost","category":"meta","parent_author":"steemit","parent_permlink":"firstpost","title":"","body":"First
        Reply! Let''s get this **party** started","json_metadata":"","last_update":"2016-03-30T19:52:30","created":"2016-03-30T19:52:30","active":"2018-02-05T01:12:51","last_payout":"2016-08-24T19:59:42","depth":1,"children":5,"net_rshares":-226592300084,"abs_rshares":0,"vote_rshares":0,"children_abs_rshares":0,"cashout_time":"1969-12-31T23:59:59","max_cashout_time":"1969-12-31T23:59:59","total_vote_weight":0,"reward_weight":10000,"total_payout_value":["0",3,"@@000000013"],"curator_payout_value":["0",3,"@@000000013"],"author_rewards":0,"net_votes":8,"root_author":"steemit","root_permlink":"firstpost","max_accepted_payout":["1000000000",3,"@@000000013"],"percent_steem_dollars":10000,"allow_replies":true,"allow_votes":true,"allow_curation_rewards":true,"beneficiaries":[],"url":"\/meta\/@steemit\/firstpost#@admin\/firstpost","root_title":"Welcome
        to Steem!","pending_payout_value":["0",3,"@@000000013"],"total_pending_payout_value":["0",3,"@@000000021"],"active_votes":[],"replies":[],"author_reputation":975371654,"promoted":["0",3,"@@000000013"],"body_length":0,"reblogged_by":[]},{"id":2,"author":"proskynneo","permlink":"steemit-firstpost-1","category":"meta","parent_author":"steemit","parent_permlink":"firstpost","title":"Excited!","body":"Glad
        to see this live and working! Excited to see where the community goes and
        excited to be able to use this through a gui instead of the command linne!
        :D","json_metadata":"","last_update":"2016-03-31T13:54:33","created":"2016-03-31T13:54:33","active":"2017-06-28T09:10:45","last_payout":"2016-08-24T19:59:[...]
