---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"block_api.get_block_header","params":{"block_num":12345678}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000170789952581568'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"header":{"previous":"00bc614d58b1745f3347e4f55f35fe68c82ad0d1","timestamp":"2017-05-29T06:28:42","witness":"good-karma","transaction_merkle_root":"3843fd6daebf3742ecc84fe5926df037131a66a6","extensions":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:47 GMT
recorded_with: VCR 4.0.0
