---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_trade_history"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000704814507098176'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":"1970-01-01T00:00:00","end":"1970-01-01T00:00:00","limit":1000},"ret":{"trades":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:55 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"market_history_api.get_trade_history","params":{"start":"1970-01-01T00:00:00","end":"1970-01-01T00:00:00","limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001111713624375946'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"trades":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:55 GMT
recorded_with: VCR 4.0.0
