---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"account_by_key_api.get_key_references"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001068834140574047'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"keys":[]},"ret":{"accounts":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:52 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"account_by_key_api.get_key_references","params":{"accounts":["STM5jZtLoV8YbxCxr4imnbWn61zMB24wwonpnVhfXRmv7j6fk3dTH"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000054369967987976'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:52 GMT
recorded_with: VCR 4.0.0
