---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"condenser_api.get_content","params":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000092283286449814'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 2: Expected #s argument(s), was 0","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":1288,"method":"get_content","hostname":"","timestamp":"2018-04-26T15:48:37"},"format":"args.size()
        == 2: Expected #s argument(s), was ${n}","data":{"n":0}}]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:37 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"condenser_api.get_content","params":[null]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000612158375937099'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","error":{"code":-32003,"message":"Assert Exception:args.size()
        == 2: Expected #s argument(s), was 1","data":{"code":10,"name":"assert_exception","message":"Assert
        Exception","stack":[{"context":{"level":"error","file":"condenser_api.cpp","line":1288,"method":"get_content","hostname":"","timestamp":"2018-04-26T15:48:39"},"format":"args.size()
        == 2: Expected #s argument(s), was ${n}","data":{"n":1}}]}},"id":2}'
  recorded_at: Thu, 26 Apr 2018 15:48:39 GMT
recorded_with: VCR 4.0.0
