---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_reward_funds"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000354696192920409'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"funds":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:15 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_reward_funds","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000453622787548669'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"funds":[{"id":0,"name":"post","reward_balance":["737567910",3,"@@000000021"],"recent_claims":"447132212755051084","last_update":"2018-04-26T15:49:15","content_constant":"2000000000000","percent_curation_rewards":2500,"percent_content_rewards":10000,"author_reward_curve":"linear","curation_reward_curve":"square_root"}]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:15 GMT
recorded_with: VCR 4.0.0
