---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_blog_authors"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000189110935041846'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"blog_account":""},"ret":{"blog_authors":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:51 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_blog_authors","params":{"blog_account":"steemit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000804149036510918'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"blog_authors":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:51 GMT
recorded_with: VCR 4.0.0
