---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_reblogged_by"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001023065273077925'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"author":"","permlink":""},"ret":{"accounts":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:20 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_reblogged_by","params":{"author":"steemit","permlink":"firstpost"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000693782693909224'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":["inoue","novi","steemit","sweetssssj","vulturestkn"]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:22 GMT
recorded_with: VCR 4.0.0
