---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_follow_count"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000710259511626279'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":""},"ret":{"account":"","follower_count":0,"following_count":0}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:24 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_follow_count","params":{"account":"steemit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000368673169611996'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"account":"steemit","follower_count":2837,"following_count":0},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:24 GMT
recorded_with: VCR 4.0.0
