---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"tags_api.get_discussions_by_feed"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000024486503465838'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"tag":"","limit":0,"filter_tags":[],"select_authors":[],"select_tags":[],"truncate_body":0},"ret":{"discussions":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:55 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"tags_api.get_discussions_by_feed","params":{"tag":"steem","limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000076476876967848'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"discussions":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:55 GMT
recorded_with: VCR 4.0.0
