---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_config"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000414318037112015'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:28 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_config","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000904356895317700'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"IS_TEST_NET":false,"STEEM_ENABLE_SMT":false,"SBD_SYMBOL":null,"STEEM_INITIAL_VOTE_POWER_RATE":40,"STEEM_REDUCED_VOTE_POWER_RATE":10,"STEEM_100_PERCENT":10000,"STEEM_1_PERCENT":100,"STEEM_ACCOUNT_RECOVERY_REQUEST_EXPIRATION_PERIOD":"86400000000","STEEM_ACTIVE_CHALLENGE_COOLDOWN":"86400000000","STEEM_ACTIVE_CHALLENGE_FEE":["2000",3,"@@000000021"],"STEEM_ADDRESS_PREFIX":"STM","STEEM_APR_PERCENT_MULTIPLY_PER_BLOCK":"102035135585887","STEEM_APR_PERCENT_MULTIPLY_PER_HOUR":"119577151364285","STEEM_APR_PERCENT_MULTIPLY_PER_ROUND":"133921203762304","STEEM_APR_PERCENT_SHIFT_PER_BLOCK":87,"STEEM_APR_PERCENT_SHIFT_PER_HOUR":77,"STEEM_APR_PERCENT_SHIFT_PER_ROUND":83,"STEEM_BANDWIDTH_AVERAGE_WINDOW_SECONDS":604800,"STEEM_BANDWIDTH_PRECISION":1000000,"STEEM_BLOCKCHAIN_PRECISION":1000,"STEEM_BLOCKCHAIN_PRECISION_DIGITS":3,"STEEM_BLOCKCHAIN_HARDFORK_VERSION":"0.19.0","STEEM_BLOCKCHAIN_VERSION":"0.19.4","STEEM_BLOCK_INTERVAL":3,"STEEM_BLOCKS_PER_DAY":28800,"STEEM_BLOCKS_PER_HOUR":1200,"STEEM_BLOCKS_PER_YEAR":10512000,"STEEM_CASHOUT_WINDOW_SECONDS":604800,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF12":86400,"STEEM_CASHOUT_WINDOW_SECONDS_PRE_HF17":43200,"STEEM_CHAIN_ID":"0000000000000000000000000000000000000000000000000000000000000000","STEEM_CHAIN_ID_NAME":"","STEEM_COMMENT_REWARD_FUND_NAME":"comment","STEEM_CONTENT_APR_PERCENT":3875,"STEEM_CONTENT_CONSTANT_HF0":"2000000000000","STEEM_CONTENT_REWARD_PERCENT":7500,"STEEM_CONVERSION_DELAY":"302400000000","STEEM_CONVERSION_DELAY_PRE_HF_16":"604800000000","STEEM_CREATE_ACCOUNT_DELEGATION_RATIO":5,"STEEM_CREATE_ACCOUNT_DELEGATION_TIME":"2592000000000","STEEM_CREATE_ACCOUNT_WITH_STEEM_MODIFIER":30,"STEEM_CURATE_APR_PERCENT":3875,"STEEM_DEFAULT_SBD_INTEREST_RATE":1000,"STEEM_EQUIHASH_K":6,"STEEM_EQUIHASH_N":140,"STEEM_FEED_HISTORY_WINDOW":84,"STEEM_FEED_HISTORY_WINDOW_PRE_HF_16":168,"STEEM_FEED_INTERVAL_BLOCKS":1200,"STEEM_GENESIS_TIME":"2016-03-24T16:00:00","STEEM_HARDFORK_REQUIRED_WITNESSES":17,"STEEM_INFLATION_NARROWING_PERIOD":250000,"STEEM_INFLATION_RATE_START_PERCENT":978,"STEEM_INFLATION_RATE_STOP_PERCENT":95,"STEEM_INIT_MINER_NAME":"initminer","STEEM_INIT_PUBLIC_KEY_STR":"STM8GC13uCZbP44HzMLV6zPZGwVQ8Nt4Kji8PapsPiNq1BK153XTX","STEEM_INIT_SUPPLY":0,"STEEM_INIT_TIME":"1970-01-01T00:00:00","STEEM_IRREVERSIBLE_THRESHOLD":7500,"STEEM_LIQUIDITY_APR_PERCENT":750,"STEEM_LIQUIDITY_REWARD_BLOCKS":1200,"STEEM_LIQUIDITY_REWARD_PERIOD_SEC":3600,"STEEM_LIQUIDITY_TIMEOUT_SEC":"604800000000","STEEM_MAX_ACCOUNT_NAME_LENGTH":16,"STEEM_MAX_ACCOUNT_WITNESS_VOTES":30,"STEEM_MAX_ASSET_WHITELIST_AUTHORITIES":10,"STEEM_MAX_AUTHORITY_MEMBERSHIP":10,"STEEM_MAX_BLOCK_SIZE":393216000,"STEEM_SOFT_MAX_BLOCK_SIZE":2097152,"STEEM_MAX_CASHOUT_WINDOW_SECONDS":1209600,"STEEM_MAX_COMMENT_DEPTH":65535,"STEEM_MAX_COMMENT_DEPTH_PRE_HF17":6,"STEEM_MAX_FEED_AGE_SECONDS":604800,"STEEM_MAX_INSTANCE_ID":"281474976710655","STEEM_MAX_MEMO_SIZE":2048,"STEEM_MAX_WITNESSES":21,"STEEM_MAX_MINER_WITNESSES_HF0":1,"STEEM_MAX_MINER_WITNESSES_HF17":0,"STEEM_MAX_PERMLINK_LENGTH":256,"STEEM_MAX_PROXY_RECURSION_DEPTH":4,"STEEM_MAX_RATION_DECAY_RATE":1000000,"STEEM_MAX_RESERVE_RATIO":20000,"STEEM_MAX_RUNNER_WITNESSES_HF0":1,"STEEM_MAX_RUNNER_WITNESSES_HF17":1,"STEEM_MAX_SATOSHIS":"4611686018427387903","STEEM_MAX_SHARE_SUPPLY":"1000000000000000","STEEM_MAX_SIG_CHECK_DEPTH":2,"STEEM_MAX_TIME_UNTIL_EXPIRATION":3600,"STEEM_MAX_TRANSACTION_SIZE":65536,"STEEM_MAX_UNDO_HISTORY":10000,"STEEM_MAX_URL_LENGTH":127,"STEEM_MAX_VOTE_CHANGES":5,"STEEM_MAX_VOTED_WITNESSES_HF0":19,"STEEM_MAX_VOTED_WITNESSES_HF17":20,"STEEM_MAX_WITHDRAW_ROUTES":10,"STEEM_MAX_WITNESS_URL_LENGTH":2048,"STEEM_MIN_ACCOUNT_CREATION_FEE":1,"STEEM_MIN_ACCOUNT_NAME_LENGTH":3,"STEEM_MIN_BLOCK_SIZE_LIMIT":65536,"STEEM_MIN_BLOCK_SIZE":115,"STEEM_MIN_CONTENT_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_CURATE_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_PERMLINK_LENGTH":0,"STEEM_MIN_REPLY_INTERVAL":20000000,"STEEM_MIN_ROOT_COMMENT_INTERVAL":300000000,"STEEM_MIN_VOTE_INTERVAL_SEC":3,"STEEM_MINER_ACCOUNT":"miners","STEEM_MINER_PAY_PERCENT":100,"STEEM_MIN_FEEDS":7,"STEEM_MINING_REWARD":["1000",3,"@@000000021"],"STEEM_MINING_TIME":"2016-03-24T17:00:00","STEEM_MIN_LIQUIDITY_REWARD":["1200000",3,"@@000000021"],"STEEM_MIN_LIQUIDITY_REWARD_PERIOD_SEC":60000000,"STEEM_MIN_PAYOUT_SBD":["20",3,"@@000000013"],"STEEM_MIN_POW_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_PRODUCER_REWARD":["1000",3,"@@000000021"],"STEEM_MIN_TRANSACTION_EXPIRATION_LIMIT":15,"STEEM_MIN_TRANSACTION_SIZE_LIMIT":1024,"STEEM_MIN_UNDO_HISTORY":10,"STEEM_NULL_ACCOUNT":"null","STEEM_NUM_INIT_MINERS":1,"STEEM_OWNER_AUTH_HISTORY_TRACKING_START_BLOCK_NUM":3186477,"STEEM_OWNER_AUTH_RECOVERY_PERIOD":"2592000000000","STEEM_OWNER_CHALLENGE_COOLDOWN":"86400000000","STEEM_OWNER_CHALLENGE_FEE":["30000",3,"@@000000021"],"STEEM_OWNER_UPDATE_LIMIT":3600000000,"STEEM_POST_AVERAGE_WINDOW":86400,"STEEM_POST_REWARD_FUND_NAME":"post","STEEM_POST_WEIGHT_CONSTANT":1600000000,"STEEM_POW_APR_PERCENT":750,"STEEM_PRODUCER_APR_PERCENT":750,"STEEM_PROXY_TO_SELF_ACCOUNT":"","STEEM_SBD_INTEREST_COMPOUND_INTERVAL_SEC":2592000,"STEEM_SECONDS_PER_YEAR":31536000,"STEEM_RECENT_RSHARES_DECAY_TIME_HF19":"1296000000000","STEEM_RECENT_RSHARES_DECAY_TIME_HF17":"2592000000000","STEEM_REVERSE_AUCTION_WINDOW_SECONDS":1800,"STEEM_ROOT_POST_PARENT":"","STEEM_SAVINGS_WITHDRAW_REQUEST_LIMIT":100,"STEEM_SAVINGS_WITHDRAW_TIME":"259200000000","STEEM_SBD_START_PERCENT":200,"STEEM_SBD_STOP_PERCENT":500,"STEEM_SECOND_CASHOUT_WINDOW":2592000,"STEEM_SOFT_MAX_COMMENT_DEPTH":255,"STEEM_START_MINER_VOTING_BLOCK":864000,"STEEM_START_VESTING_BLOCK":201600,"STEEM_TEMP_ACCOUNT":"temp","STEEM_UPVOTE_LOCKOUT_HF7":60000000,"STEEM_UPVOTE_LOCKOUT_HF17":"43200000000","STEEM_VESTING_FUND_PERCENT":1500,"STEEM_VESTING_WITHDRAW_INTERVALS":13,"STEEM_VESTING_WITHDRAW_INTERVALS_PRE_HF_16":104,"STEEM_VESTING_WITHDRAW_INTERVAL_SECONDS":604800,"STEEM_VOTE_DUST_THRESHOLD":50000000,"STEEM_VOTE_REGENERATION_SECONDS":432000,"STEEM_SYMBOL":null,"VESTS_SYMBOL":null,"STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH":"18446744073709551615","STEEM_VIRTUAL_SCHEDULE_LAP_LENGTH2":"340282366920938463463374607431768211455"},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:29 GMT
recorded_with: VCR 4.0.0
