---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"market_history_api.get_volume"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000446547494660330'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"steem_volume":["0",3,"@@000000021"],"sbd_volume":["0",3,"@@000000013"]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:30:23 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"market_history_api.get_volume","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001044427629737022'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"steem_volume":["12342691",3,"@@000000021"],"sbd_volume":["13500705",3,"@@000000013"]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:30:24 GMT
recorded_with: VCR 4.0.0
