---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_reblogged_by"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001122873208393620'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"author":"","permlink":""},"ret":{"accounts":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:51 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_reblogged_by","params":{"author":"steemit","permlink":"firstpost"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000066954253123826'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"accounts":["inoue","novi","steemit","sweetssssj","vulturestkn"]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:53 GMT
recorded_with: VCR 4.0.0
