---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_current_price_feed"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000594042539737967'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"base":["0",3,"@@000000021"],"quote":["0",3,"@@000000021"]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:23 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_current_price_feed","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001011156147515047'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"base":["3228",3,"@@000000013"],"quote":["1000",3,"@@000000021"]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:23 GMT
recorded_with: VCR 4.0.0
