---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"follow_api.get_followers"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000493699712810312'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":"","start":"","type":"undefined","limit":1000},"ret":{"followers":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:22 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"follow_api.get_followers","params":{"account":"steemit","start":null,"type":"blog","limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000531787594376837'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"followers":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:22 GMT
recorded_with: VCR 4.0.0
