---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_comments"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001046820591839449'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"comments":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:03 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_comments","params":{"start":["2016-03-24T16:00:00","steemit","firstpost"],"limit":0,"order":"by_cashout_time"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000395147974307617'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"comments":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:04 GMT
recorded_with: VCR 4.0.0
