---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_owner_histories"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001113039106765289'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0},"ret":{"owner_auths":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:46 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_owner_histories","params":{"start":[],"limit":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000176135059088755'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"owner_auths":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:47 GMT
recorded_with: VCR 4.0.0
