---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_withdraw_vesting_routes"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000653454221494875'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"routes":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:59 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_withdraw_vesting_routes","params":{"start":[],"limit":0,"order":"by_withdraw_route"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000943526304573320'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"routes":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:59 GMT
recorded_with: VCR 4.0.0
