---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_vesting_delegation_expirations"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000752766620860475'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"delegations":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:20 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_vesting_delegation_expirations","params":{"start":[],"limit":0,"order":"by_expiration"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000734402157309081'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"delegations":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:22 GMT
recorded_with: VCR 4.0.0
