---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_vesting_delegations"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000464501219276321'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"delegations":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:13 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_vesting_delegations","params":{"start":[],"limit":0,"order":"by_delegation"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001115226956851890'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"delegations":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:14 GMT
recorded_with: VCR 4.0.0
