---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_decline_voting_rights_requests"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000022822809074850'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"requests":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:57 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_decline_voting_rights_requests","params":{"start":null,"limit":0,"order":"by_account"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000337331950303297'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"requests":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:48:58 GMT
recorded_with: VCR 4.0.0
