---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_votes"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000777134712488588'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"votes":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:03 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_votes","params":{"start":[null,null,null],"limit":0,"order":"by_voter_comment"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000869772973989382'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"votes":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:04 GMT
recorded_with: VCR 4.0.0
