---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_sbd_conversion_requests"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000946867604677885'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"requests":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:32 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_sbd_conversion_requests","params":{"start":[],"limit":0,"order":"by_conversion_date"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000044779327309250'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"requests":[]},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:33 GMT
recorded_with: VCR 4.0.0
