---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.list_escrows"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000915543509676620'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"start":null,"limit":0,"order":"by_name"},"ret":{"escrows":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:07 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.list_escrows","params":{"start":["steemit"],"limit":0,"order":"by_from_id"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000067999844425295'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"escrows":[]},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:07 GMT
recorded_with: VCR 4.0.0
