---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_dynamic_global_properties","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000784335165025482'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":21908620,"head_block_id":"014e4c8c6af19e60f12a8bef421b468693e2e558","time":"2018-04-26T15:49:36","current_witness":"roelandp","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":["271208020554",3,"@@000000021"],"current_supply":["267496004457",3,"@@000000021"],"confidential_supply":["0",3,"@@000000021"],"current_sbd_supply":["12305333363",3,"@@000000013"],"confidential_sbd_supply":["0",3,"@@000000013"],"total_vesting_fund_steem":["190771425676",3,"@@000000021"],"total_vesting_shares":["388595880873397015",6,"@@000000037"],"total_reward_fund_steem":["0",3,"@@000000021"],"total_reward_shares2":"0","pending_rewarded_vesting_shares":["385074122082806",6,"@@000000037"],"pending_rewarded_vesting_steem":["187688001",3,"@@000000021"],"sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":21974192,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":21908600,"vote_power_reserve_rate":10},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:38 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"block_api.get_block_header"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000669804983943185'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"block_num":0},"ret":{}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:39 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"block_api.get_block_header","params":{"block_num":21908600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000222142894060901'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"header":{"previous":"014e4c7799d963b8826ba563a24180bb50315e3a","timestamp":"2018-04-26T15:48:36","witness":"followbtcnews","transaction_merkle_root":"54257c5567d92955b80b3850bc2f81d62086d263","extensions":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:40 GMT
recorded_with: VCR 4.0.0
