---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_dynamic_global_properties"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000543333185589033'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"id":0,"head_block_number":0,"head_block_id":"0000000000000000000000000000000000000000","time":"1970-01-01T00:00:00","current_witness":"","total_pow":"18446744073709551615","num_pow_witnesses":0,"virtual_supply":["0",3,"@@000000021"],"current_supply":["0",3,"@@000000021"],"confidential_supply":["0",3,"@@000000021"],"current_sbd_supply":["0",3,"@@000000013"],"confidential_sbd_supply":["0",3,"@@000000013"],"total_vesting_fund_steem":["0",3,"@@000000021"],"total_vesting_shares":["0",6,"@@000000037"],"total_reward_fund_steem":["0",3,"@@000000021"],"total_reward_shares2":"0","pending_rewarded_vesting_shares":["0",6,"@@000000037"],"pending_rewarded_vesting_steem":["0",3,"@@000000021"],"sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":0,"current_aslot":0,"recent_slots_filled":"0","participation_count":0,"last_irreversible_block_num":0,"vote_power_reserve_rate":40}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:14 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"block_api.get_block_header","params":{"block_num":21879384}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000667486105658084'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"header":{"previous":"014dda57316751197d9bde52241a31c8a6a3ec71","timestamp":"2018-04-25T15:27:09","witness":"aggroed","transaction_merkle_root":"11eb9ba2e5407eac6d44e132c00ee811b0ed1b53","extensions":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:15 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"database_api.get_transaction_hex","params":{"trx":{"ref_block_num":55895,"ref_block_prefix":424765233,"expiration":"2018-04-25T15:38:12","extensions":[],"operations":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"signatures":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000527343608708544'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"hex":"57da31675119e4a0e05a010006736f6369616c07737465656d6974096669727374706f737410270000"},"id":2}'
  recorded_at: Wed, 25 Apr 2018 15:28:16 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_transaction_hex"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000933363824003009'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}},"ret":{"hex":""}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:41:51 GMT
recorded_with: VCR 4.0.0
