---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_dynamic_global_properties"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000807593133595990'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{},"ret":{"id":0,"head_block_number":0,"head_block_id":"0000000000000000000000000000000000000000","time":"1970-01-01T00:00:00","current_witness":"","total_pow":"18446744073709551615","num_pow_witnesses":0,"virtual_supply":["0",3,"@@000000021"],"current_supply":["0",3,"@@000000021"],"confidential_supply":["0",3,"@@000000021"],"current_sbd_supply":["0",3,"@@000000013"],"confidential_sbd_supply":["0",3,"@@000000013"],"total_vesting_fund_steem":["0",3,"@@000000021"],"total_vesting_shares":["0",6,"@@000000037"],"total_reward_fund_steem":["0",3,"@@000000021"],"total_reward_shares2":"0","pending_rewarded_vesting_shares":["0",6,"@@000000037"],"pending_rewarded_vesting_steem":["0",3,"@@000000021"],"sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":0,"current_aslot":0,"recent_slots_filled":"0","participation_count":0,"last_irreversible_block_num":0,"vote_power_reserve_rate":40}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:14 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"block_api.get_block_header"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000175899717903920'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"block_num":0},"ret":{}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:14 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"block_api.get_block_header","params":{"block_num":21879384}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000344192952262141'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"header":{"previous":"014dda57316751197d9bde52241a31c8a6a3ec71","timestamp":"2018-04-25T15:27:09","witness":"aggroed","transaction_merkle_root":"11eb9ba2e5407eac6d44e132c00ee811b0ed1b53","extensions":[]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:28:15 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"jsonrpc.get_signature","params":{"method":"database_api.get_transaction_hex"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000142981984381336'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}},"ret":{"hex":""}},"id":2}'
  recorded_at: Wed, 25 Apr 2018 15:28:15 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"jsonrpc.get_signature","params":{"method":"database_api.verify_authority"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000126599528026537'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"trx":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[],"extensions":[],"signatures":[]}},"ret":{"valid":false}},"id":3}'
  recorded_at: Wed, 25 Apr 2018 15:28:16 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"database_api.verify_authority","params":{"trx":{"ref_block_num":55895,"ref_block_prefix":424765233,"expiration":"2018-04-25T15:38:12","extensions":[],"operations":[],"signatures":["1c34b53c543196f64b8b012f9496cbed384c3b555a14faf32d3740eeabfd595d721d484640c7a886689cc0715bfad232badb8f6f94c94f78ea8355e44d5e3c5c26"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000404239795459278'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"irrelevant signature
        included:Unnecessary signature(s) detected","data":{"code":3050000,"name":"tx_irrelevant_sig","message":"irrelevant
        signature included","stack":[{"context":{"level":"error","file":"transaction_util.hpp","line":96,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:28:16"},"format":"Unnecessary
        signature(s) detected","data":{}},{"context":{"level":"warn","file":"transaction_util.hpp","line":97,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:28:16"},"format":"","data":{"auth_containers":[],"sigs":["STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt"]}},{"context":{"level":"warn","file":"transaction.cpp","line":195,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:28:16"},"format":"","data":{"*this":{"ref_block_num":55895,"ref_block_prefix":424765233,"expiration":"2018-04-25T15:38:12","operations":[],"extensions":[],"signatures":["1c34b53c543196f64b8b012f9496cbed384c3b555a14faf32d3740eeabfd595d721d484640c7a886689cc0715bfad232badb8f6f94c94f78ea8355e44d5e3c5c26"]}}}]}},"id":3}'
  recorded_at: Wed, 25 Apr 2018 15:28:16 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":5,"method":"database_api.get_transaction_hex","params":{"trx":{"ref_block_num":55897,"ref_block_prefix":748963891,"expiration":"2018-04-25T15:38:15","extensions":[],"operations":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"signatures":["1c34b53c543196f64b8b012f9496cbed384c3b555a14faf32d3740eeabfd595d721d484640c7a886689cc0715bfad232badb8f6f94c94f78ea8355e44d5e3c5c26"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000472414932725640'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"hex":"59da3348a42ce7a0e05a010006736f6369616c07737465656d6974096669727374706f7374102700011c34b53c543196f64b8b012f9496cbed384c3b555a14faf32d3740eeabfd595d721d484640c7a886689cc0715bfad232badb8f6f94c94f78ea8355e44d5e3c5c26"},"id":5}'
  recorded_at: Wed, 25 Apr 2018 15:28:17 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":6,"method":"database_api.verify_authority","params":{"trx":{"ref_block_num":55897,"ref_block_prefix":748963891,"expiration":"2018-04-25T15:38:15","extensions":[],"operations":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"signatures":["1c287ff342c6a02e63fde5967dd73e85030d213258abb1c7e7e9783a06b74f0129487c3e3800c845b00717b413a0a4e79a639026266fd6ea6c4c5b6323ab148de5"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000334413767284398'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"missing required
        posting authority:Missing Posting Authority social","data":{"code":3030000,"name":"tx_missing_posting_auth","message":"missing
        required posting authority","stack":[{"context":{"level":"error","file":"transaction_util.hpp","line":54,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:28:18"},"format":"Missing
        Posting Authority ${id}","data":{"id":"social","posting":{"weight_threshold":1,"account_auths":[["streemian",1]],"key_auths":[["STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7hfwfSZ1rztYXTzuWYN8Y6aDZWq4dVDxEJeHVPteAQs4ysWoPo",1]]},"owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7uH14nFBvDuMBYo1sQot2dLbh4Uin8BCDnD7YLGzXoXFD7i7cx",1]]}}},{"context":{"level":"warn","file":"transaction_util.hpp","line":97,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:28:18"},"format":"","data":{"auth_containers":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"sigs":["STM5X8oZaEH2kPRymGbpQDj78UKSXVRpH2HDjbnBMB94ABGFWCbcW"]}},{"context":{"level":"warn","file":"transaction.cpp","line":195,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:28:18"},"format":"","data":{"*this":{"ref_block_num":55897,"ref_block_prefix":748963891,"expiration":"2018-04-25T15:38:15","operations":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"extensions":[],"signatures":["1c287ff342c6a02e63fde5967dd73e85030d213258abb1c7e7e9783a06b74f0129487c3e3800c845b00717b413a0a4e79a639026266fd6ea6c4c5b6323ab148de5"]}}}]}},"id":6}'
  recorded_at: Wed, 25 Apr 2018 15:28:18 GMT
[...]
