---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.get_dynamic_global_properties","params":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001106687602628924'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"id":0,"head_block_number":21908620,"head_block_id":"014e4c8c6af19e60f12a8bef421b468693e2e558","time":"2018-04-26T15:49:36","current_witness":"roelandp","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":["271208020554",3,"@@000000021"],"current_supply":["267496004457",3,"@@000000021"],"confidential_supply":["0",3,"@@000000021"],"current_sbd_supply":["12305333363",3,"@@000000013"],"confidential_sbd_supply":["0",3,"@@000000013"],"total_vesting_fund_steem":["190771428469",3,"@@000000021"],"total_vesting_shares":["388595886562697653",6,"@@000000037"],"total_reward_fund_steem":["0",3,"@@000000021"],"total_reward_shares2":"0","pending_rewarded_vesting_shares":["385068432782168",6,"@@000000037"],"pending_rewarded_vesting_steem":["187685208",3,"@@000000021"],"sbd_interest_rate":0,"sbd_print_rate":10000,"maximum_block_size":65536,"current_aslot":21974192,"recent_slots_filled":"340282366920938463463374607431768211400","participation_count":128,"last_irreversible_block_num":21908600,"vote_power_reserve_rate":10},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:39 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"block_api.get_block_header","params":{"block_num":21908600}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '001027310676590522'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"header":{"previous":"014e4c7799d963b8826ba563a24180bb50315e3a","timestamp":"2018-04-26T15:48:36","witness":"followbtcnews","transaction_merkle_root":"54257c5567d92955b80b3850bc2f81d62086d263","extensions":[]}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:40 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"database_api.get_transaction_hex","params":{"trx":{"ref_block_num":19575,"ref_block_prefix":3093551513,"expiration":"2018-04-26T15:59:36","extensions":[],"operations":[],"signatures":[]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000503781330932368'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"hex":"774c99d963b868f7e15a000000"},"id":2}'
  recorded_at: Thu, 26 Apr 2018 15:49:41 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"database_api.verify_authority","params":{"trx":{"ref_block_num":19575,"ref_block_prefix":3093551513,"expiration":"2018-04-26T15:59:36","extensions":[],"operations":[],"signatures":["1b1a049ddd90cca380dbd85fd7c2da831922c7bb8c6465da91221012e46062ba6151885e4048b6ea6afb8fbcd8d4214db4e21474a4f722f1ab6377193adf1a8075"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000896804798271567'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"irrelevant signature
        included:Unnecessary signature(s) detected","data":{"code":3050000,"name":"tx_irrelevant_sig","message":"irrelevant
        signature included","stack":[{"context":{"level":"error","file":"transaction_util.hpp","line":96,"method":"verify_authority","hostname":"","timestamp":"2018-04-26T15:49:43"},"format":"Unnecessary
        signature(s) detected","data":{}},{"context":{"level":"warn","file":"transaction_util.hpp","line":97,"method":"verify_authority","hostname":"","timestamp":"2018-04-26T15:49:43"},"format":"","data":{"auth_containers":[],"sigs":["STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt"]}},{"context":{"level":"warn","file":"transaction.cpp","line":195,"method":"verify_authority","hostname":"","timestamp":"2018-04-26T15:49:43"},"format":"","data":{"*this":{"ref_block_num":19575,"ref_block_prefix":3093551513,"expiration":"2018-04-26T15:59:36","operations":[],"extensions":[],"signatures":["1b1a049ddd90cca380dbd85fd7c2da831922c7bb8c6465da91221012e46062ba6151885e4048b6ea6afb8fbcd8d4214db4e21474a4f722f1ab6377193adf1a8075"]}}}]}},"id":3}'
  recorded_at: Thu, 26 Apr 2018 15:49:43 GMT
[...]
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":5,"method":"database_api.get_transaction_hex","params":{"trx":{"ref_block_num":19575,"ref_block_prefix":3093551513,"expiration":"2018-04-26T15:59:42","extensions":[],"operations":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"signatures":["1b1a049ddd90cca380dbd85fd7c2da831922c7bb8c6465da91221012e46062ba6151885e4048b6ea6afb8fbcd8d4214db4e21474a4f722f1ab6377193adf1a8075"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000187937148683102'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"hex":"774c99d963b86ef7e15a010006736f6369616c07737465656d6974096669727374706f7374102700011b1a049ddd90cca380dbd85fd7c2da831922c7bb8c6465da91221012e46062ba6151885e4048b6ea6afb8fbcd8d4214db4e21474a4f722f1ab6377193adf1a8075"},"id":5}'
  recorded_at: Thu, 26 Apr 2018 15:49:44 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":6,"method":"database_api.verify_authority","params":{"trx":{"ref_block_num":19575,"ref_block_prefix":3093551513,"expiration":"2018-04-26T15:59:42","extensions":[],"operations":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"signatures":["1c375f510e44972540bbdc061867e4d78b5d6b0265f16d678a90b75dcb219db84d3d7205d7b5e92d0f90edc4588a297253556e1b65baea9c14e706ffcfe1f675b1"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000341203368031865'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"missing required
        posting authority:Missing Posting Authority social","data":{"code":3030000,"name":"tx_missing_posting_auth","message":"missing
        required posting authority","stack":[{"context":{"level":"error","file":"transaction_util.hpp","line":54,"method":"verify_authority","hostname":"","timestamp":"2018-04-26T15:49:45"},"format":"Missing
        Posting Authority ${id}","data":{"id":"social","posting":{"weight_threshold":1,"account_auths":[["streemian",1]],"key_auths":[["STM5ctejUsoZ9FwfCaVbNvWYYgNMBo9TVsHSE8wHrqAmNJi6sDctt",1]]},"active":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7hfwfSZ1rztYXTzuWYN8Y6aDZWq4dVDxEJeHVPteAQs4ysWoPo",1]]},"owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM7uH14nFBvDuMBYo1sQot2dLbh4Uin8BCDnD7YLGzXoXFD7i7cx",1]]}}},{"context":{"level":"warn","file":"transaction_util.hpp","line":97,"method":"verify_authority","hostname":"","timestamp":"2018-04-26T15:49:45"},"format":"","data":{"auth_containers":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"sigs":["STM54C9eW2MdWFoGnvk6s1FXcb4k5qxUwWqoxKAtN2YPwu7WUymLp"]}},{"context":{"level":"warn","file":"transaction.cpp","line":195,"method":"verify_authority","hostname":"","timestamp":"2018-04-26T15:49:45"},"format":"","data":{"*this":{"ref_block_num":19575,"ref_block_prefix":3093551513,"expiration":"2018-04-26T15:59:42","operations":[["vote",{"voter":"social","author":"steemit","permlink":"firstpost","weight":10000}]],"extensions":[],"signatures":["1c375f510e44972540bbdc061867e4d78b5d6b0265f16d678a90b75dcb219db84d3d7205d7b5e92d0f90edc4588a297253556e1b65baea9c14e706ffcfe1f675b1"]}}}]}},"id":6}'
  recorded_at: Thu, 26 Apr 2018 15:49:45 GMT
recorded_with: VCR 4.0.0
