---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.verify_signatures"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000740191643698669'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"hash":"0000000000000000000000000000000000000000000000000000000000000000","signatures":[],"required_owner":[],"required_active":[],"required_posting":[],"required_other":[]},"ret":{"valid":false}},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:12 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.verify_signatures","params":{"hash":"0000000000000000000000000000000000000000000000000000000000000000","signatures":[],"required_owner":[],"required_active":[],"required_posting":[],"required_other":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000490077051677619'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"valid":true},"id":1}'
  recorded_at: Thu, 26 Apr 2018 15:49:12 GMT
recorded_with: VCR 4.0.0
