---
http_interactions:
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"jsonrpc.get_signature","params":{"method":"database_api.verify_account_authority"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000124782613396715'
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"args":{"account":"","signers":[]},"ret":{"valid":false}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:11 GMT
- request:
    method: post
    uri: https://api.steemit.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"database_api.verify_account_authority","params":{"account":"steemit","signers":["STM7Q2rLBqzPzFeteQZewv9Lu3NLE69fZoLeL6YK59t7UmssCBNTU"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Request-Id:
      - '000255025125586232'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32000,"message":"missing required
        active authority:Missing Active Authority steemit","data":{"code":3010000,"name":"tx_missing_active_auth","message":"missing
        required active authority","stack":[{"context":{"level":"error","file":"transaction_util.hpp","line":82,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:29:12"},"format":"Missing
        Active Authority ${id}","data":{"id":"steemit","auth":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5832HKCJzs6K3rRCsZ1PidTKgjF38ZJb718Y3pCW92HEMsCGPf",1],["STM5VkLha96X5EQu3HSkJdD8SEuwazWtZrzLjUT6Sc5sopgghBYrz",1],["STM7Q2rLBqzPzFeteQZewv9Lu3NLE69fZoLeL6YK59t7UmssCBNTU",1],["STM7u1BsoqLaoCu9XHi1wjWctLWSFCuvyagFjYMfga4QNWEjP7d3U",1]]},"owner":{"weight_threshold":1,"account_auths":[],"key_auths":[["STM5tfrdPG1Ycjwa9FuBUueDFFyygndBLXdVEEs2c9eRKScnFk6vM",1],["STM6Ezkzey8FWoEnnHHP4rxbrysJqoMmzwR2EdoD5p7FDsF64qxbQ",1],["STM71f6yWztimJuREVyyMXNqAVbx1FzPVW6LLXNoQ35dHwKuszmHX",1],["STM7TCZKisQnvR69CK9BaL6W4SJn2cXYwkfWYRicoVGGzhtFswxMH",1],["STM7U3ymhUTuKME72dpdpQkdQvh722gTLjKBKtmKQPPWgtkr418Nf",1]]}}},{"context":{"level":"warn","file":"transaction_util.hpp","line":97,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:29:12"},"format":"","data":{"auth_containers":[["transfer",{"from":"steemit","to":"","amount":["0",3,"@@000000021"],"memo":""}]],"sigs":[]}},{"context":{"level":"warn","file":"transaction.cpp","line":195,"method":"verify_authority","hostname":"","timestamp":"2018-04-25T15:29:12"},"format":"","data":{"*this":{"ref_block_num":0,"ref_block_prefix":0,"expiration":"1970-01-01T00:00:00","operations":[["transfer",{"from":"steemit","to":"","amount":["0",3,"@@000000021"],"memo":""}]],"extensions":[],"signatures":[]}}}]}},"id":1}'
  recorded_at: Wed, 25 Apr 2018 15:29:12 GMT
recorded_with: VCR 4.0.0
